.login-icon {
  right: 0;
  cursor: pointer;
}

.active {
  background-color: #0479a5 !important;
  border-color: #0479a5 !important;
  color: #fff !important;
}

.active:hover {
  background-color: rgb(27, 28, 41) !important;
  color: white !important;
  border-color: rgb(27, 28, 41) !important;
}

.fc-header-toolbar.fc-toolbar  {
  visibility: hidden !important;
  display: none !important;
}

.visible {
  visibility: visible;
  display: initial;
}

.hidden {
  visibility: hidden;
  display: none;
}

.rs-anim-fade.rs-anim-in.rs-picker-date-menu.rs-picker-menu {
  z-index: 10000;
}

.rs-picker-toggle-value {
  color: rgb(62, 62, 62) !important;
}

.rs-table-cell-content {
  font-size: 15px;
  color: #363636;
}

#root {
  overflow-y: hidden;
  overflow-x: hidden;
}

.fc-event-main {
  cursor: pointer;
}

.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

.fc-event-main {
  color: #363636 !important;
  font-size: 12px;
  font-weight: bolder;
}

.fc-daygrid-day-number {
  cursor: pointer;
  text-decoration: underline; 
}

.fc-daygrid-week-number {
  cursor: pointer;
  text-decoration: underline;
}

.fc-list-event.fc-event.fc-event-start.fc-event-end.fc-event-future {
  cursor: pointer;
}

.popover {
  max-width: 720px !important;
  border-radius: 2px !important;
  z-index: 10000 !important;
}

a {
  text-decoration: underline !important;
}

.fc-timegrid-event {
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
}

a.default {
  color: #1890ff;
}

.rs-picker-toggle-value {
  font-weight: bold;
}

.rs-picker-toggle-textbox {
  font-weight: bold;
}

.rs-picker-toggle-placeholder {
  font-weight: bold;
}