@charset "UTF-8";
.container {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
}

.rbc-calendar *,
.rbc-calendar :after,
.rbc-calendar :before {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999;
}

.rbc-off-range-bg {
  background: #e6e6e6;
}

.rbc-header {
  text-transform: capitalize;
  background-color: #e8eef7;
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 80%;
  min-height: 0;
  border-bottom: 1px solid #ddd;
}

.rbc-header + .rbc-header {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-today {
  background-color: #eaf6ff;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  font-size: 1.45rem;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: uppercase;
}

.rbc-toolbar button,
button.button.luma {
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  line-height: normal;
  white-space: nowrap;
  border-color: #0479a5;
  color: #0479a5;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0;
}

.rbc-toolbar button.rbc-active,
.rbc-toolbar button:active {
  background-color: #0479a5;
  border-color: #0479a5;
  color: #fff;
}

.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:hover {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-toolbar
  > .rbc-btn-group:first-child
  > button:first-child:not(:last-child) {
  margin-right: 1.1em;
}

.rbc-btn-group > button:last-child:not(:first-child) {
}

.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
}

.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
}

.rbc-btn-group button + button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event.rbc-selected {
  background-color: #265985;
}

.rbc-event:focus {
  outline: 5px auto #3b99fc;
}

.rbc-event-label {
  font-size: 80%;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0 rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px;
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: hsla(0, 0%, 100%, 0.3);
  z-index: 4;
  font-weight: 700;
  font-size: 85%;
  height: auto;
  line-height: normal;
}

.rbc-month-view {
  position: relative;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #ddd;
}

.rbc-date-cell {
  border-left: 1px solid #ddd;
  background-color: #e8eef7;
  font-size: 80%;
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: 700;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0%;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid #ddd;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: ' »';
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '« ';
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #ddd;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-header-gutter,
.rbc-time-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}

.rbc-day-slot .rbc-event {
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  padding: 2px 5px;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #ddd;
  z-index: 10;
  margin-right: -1px;
}

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}

.rbc-time-view-resources .rbc-day-bg,
.rbc-time-view-resources .rbc-header {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
  font-weight: 700;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #ddd;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  border-left: 1px solid #ddd;
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #ddd;
}

.rbc-time-header > .rbc-row.rbc-row-resource,
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #ddd;
  overflow-y: auto;
  position: relative;
}

.rbc-time-content > .rbc-time-gutter {
  flex: none;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

.rbc-time-view {
  border-bottom: none;
}

.rbc-time-header-content .rbc-header {
  text-transform: uppercase;
  padding: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: none;
}

@media (max-width: 30em) {
  .rbc-time-header-content .rbc-header {
    padding: 1em 0.1em;
  }
}

.rbc-time-header-content .rbc-header a {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbc-time-content {
  align-items: normal;
}

.rbc-time-gutter .rbc-time-slot {
  justify-content: center;
  align-items: center;
  display: flex;
}

.rbc-time-gutter .rbc-time-slot .rbc-label {
  padding: 0 1em;
  font-weight: 700;
}

@media (max-width: 30em) {
  .rbc-time-gutter .rbc-time-slot .rbc-label {
    padding: 0 0.1em;
  }
}

.rbc-events-container {
  margin: 0 0.3em;
  border-left: none;
}

.rbc-event {
  border: none;
  border-radius: 1px;
}

.rbc-event .rbc-event-label {
  padding-left: 3px;
  font-weight: 700;
}

.rbc-event .rbc-event-content {
  font-size: small;
  margin: 0.3em 0;
  padding: 2px 5px;
}

.rbc-event-allday {
  border: 5px #555;
}

.examEvent {
  background-color: #d14600;
}

.rbc-month-row {
  overflow: visible !important;
  overflow: initial !important;
}

.rbc-event.summamutikka {
  background-color: #f2634c;
}

.rbc-event.summamutikka .rbc-event-label {
  width: 100%;
  background-color: #f2634c;
}

.rbc-event.fotoni {
  background-color: #8e5993;
}

.rbc-event.fotoni .rbc-event-label {
  width: 100%;
  background-color: #8e5993;
}

.rbc-event.linkki {
  background-color: #32a272;
}

.rbc-event.linkki .rbc-event-label {
  width: 100%;
  background-color: #32a272;
}

.rbc-event.geopiste {
  background-color: #00a2c0;
}

.rbc-event.geopiste .rbc-event-label {
  width: 100%;
  background-color: #00a2c0;
}

.rbc-event.gadolin {
  background-color: #f9a354;
}

.rbc-event.gadolin .rbc-event-label {
  width: 100%;
  background-color: #f9a354;
}

.rbc-event.booked {
  background-color: #8a8a8a;
}

.rbc-event.booked .rbc-event-label {
  width: 100%;
  background-color: #8a8a8a;
}

.rbc-event.multiple {
  background-color: #000000;
}

.rbc-event.multiple .rbc-event-label {
  width: 100%;
  background-color: #000000;
}

.taginput .taginput-container.is-focusable,
.taginput .taginput-container:not(.is-focusable) {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  width: 100%;
}

.taginput .taginput-container > .tag,
.taginput .taginput-container > .tags {
  display: inline-flex;
  margin-left: 0.275rem;
  margin-bottom: calc(0.275em - 1px);
  font-size: 0.8em;
  height: calc(2em - 1px);
}

.taginput .taginput-container .autocomplete {
  position: static;
  flex: 1;
}

.taginput.control .taginput-container.is-focusable {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  color: #363636;
}

/*.taginput .taginput-container .autocomplete input {
  height: calc(2em - 1px);
  margin-bottom: calc(0.275em - 1px);
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: none;
  min-width: 8em;
}*/

.modal-content,
.luma-eventform {
  background: antiquewhite;
  border-radius: 20px;
}

.admin-button {
  cursor: pointer;
}

.notices {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}

.notices.is-top {
  flex-direction: column;
}

.notices .toast {
  display: inline-flex;
  color: #ffffff;
  font-weight: 600;
  animation-duration: 0.5s;
  margin: 0.5em 0;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 0.75em 0.9em;
  pointer-events: auto;
  opacity: 0.92;
}

.notices .notification.is-bottom,
.notices .notification.is-top,
.notices .snackbar.is-bottom,
.notices .snackbar.is-top,
.notices .toast.is-bottom,
.notices .toast.is-top {
  align-self: flex-end;
  min-width: 300px;
}

.notices .toast.is-warning {
  background: #eb770a;
}

.notices .toast.is-danger {
  background: #d02a11;
}

.notices .toast.is-success {
  background: #2b8c62;
}

.notices .toast.is-info {
  background: #00bfe0;
}

.notices .toast div {
  margin-left: 10px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}

.button.luma {
  margin-left: 10px;
  margin-right: 10px;
}

.button.luma.active {
  background-color: #0479a5;
  border-color: #0479a5;
  color: #fff;
}

.button.luma.primary {
  background-color: #0479a5;
  border-color: #0479a5;
  color: #fff;
  margin-right: 10px;
}

.button.is-danger.luma {
  background-color: #d02a11;
  border-color: #d02a11;
  color: #fff;
}

.button.is-success.luma {
  background-color: #0479a5;
  border-color: #0479a5;
  color: #fff;
}

.title {
  font-size: 1.45rem;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: uppercase;
}

.input.taginput:focus,
.input.taginput:active {
  border-width: 0;
  box-shadow: none;
}

input.hidden {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-color: transparent;
  border: none;
}

.visits th p,
.media.luma-agenda {
  cursor: pointer;
}

.visits th p:hover {
  font-weight: bold;
}

.visits th p.ascending::after {
  content: '\2191';
}

.visits th p.descending::after {
  content: '\2193';
}

.filterbox {
  position: absolute;
  top: 109px;
  z-index: 10;
  right: 10px;
  width: 820px;
  border: 1px solid #d9d9d9;
}

.filterbox:before {
  display: block;
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  z-index: 1000;
  top: -7px;
  right: 30px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 2px;
}
